/* Media styles for Add New Object page */
@media (max-width: 1200px) {
    .object-photos {
        width: 250px;
    }

    .object-photos-thumb {
        height: 250px;
    }
}


@media (max-width: 1000px) {
    .object-photos {
        width: 280px;
    }

    .object-photos-thumb {
        height: 270px;
    }

    .author-box-pic-img {
        height: 40px;
        width: 40px;
    }

    .author-name {
        font-size: 14px;
    }

    .object-details-header .title {
        font-size: 17px;
        line-height: 20px;
    }

    .object-details-description {
        -webkit-line-clamp: 3;
    }
}


@media only screen and (max-width: 767px){
    .form-card{
        padding: 1.6rem !important;
    }
    
    .address_block_div{
        flex-direction: column;
    }

    .youtube_block_div_button {
        width: 100%;
        margin-top: 20px;
    }
    
    .youtube_block_div_btn{
        width: 100%;
    }
    
    .options_main__items{
        border-top: 0.1rem solid #dbddde;
        margin-top: 1.6rem !important;
        padding-top: 1.6rem;
        flex-direction: column;
    }
    
    .options_main__items_inputs{
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .options_main__items_inputs_media{
        max-width: 100% !important;
        width: 100% !important;
    }
    
    .options_main__items_inputs+.options_main__items_inputs {
        border-top: 0.1rem solid #dbddde;
        margin-left: 0 !important;
        margin-top: 1.6rem;
        padding-top: 1.6rem;
    }
    
    .options_main__items_inputs_block {
        max-width: 13rem;
    }
    
    .mobile-filter-dialog-body .options_main__items_inputs_block{
        max-width: 100%;
    }

    .options_main__items_inputs_block-add{
        max-width: 100%;
    }


    .object-photos-thumb .swiper .swiper-button-prev {
        left: 20px;
    }

    .object-photos-thumb .swiper .swiper-button-next {
        right: 25px;
    }

    .object-photos-thumb .swiper-button-prev, .object-photos-thumb .swiper-button-next {
        width: 30px !important;
        height: 30px !important;
        opacity: 1 !important;
    }

    .object-body-content .object-details{
        width: auto;
    }
}


@media (max-width: 736px){
    .object-item-block{
        flex-direction: column;
    }

    .object-photos {
        width: 100%;
    }

    .object-photos-thumb {
        height: 215px;
    }

    .object-details {
        margin: 16px 0 0 0;
        width: 100%;
    }

    .object-details-item-btn{
        width: 100%;
    }

    .object-price-list{
        flex-direction: column;
        align-items: flex-start !important;
    }

    .object-price-list-desc{
        margin-left: 0 !important;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px){
    .single_button_select_box_label{
        width: 50%;
    }
    
    .option_btn {
        font-size: 16px !important;
        height: 2.7rem !important;
        min-width: 2.7rem !important;
    }
    
    .option_class_second{
        display: block !important;
        margin-left: 0 !important;
        margin-top: 1.6rem !important;
    }
    
    .window_checbox{
        display: block !important;
    }
    
    .window_checbox_item,
    .infrastructure_media,
    .adddtional_types_media{
        margin-bottom: 3.5rem;
        position: relative;
    }
    
    
    .window_checbox_item .field-checkbox,
    .infrastructure_main_block .field-checkbox,
    .adddtional_main_block .field-checkbox{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    .window_checbox_item .option_class_second, 
    .infrastructure_main .option_class_second,
    .additional_options_main .option_class_second{
        margin-top: 0 !important;
        height: auto !important;
    }
    
    .window_checbox_item .option_class_second:after,
    .infrastructure_main .option_class_second:after,
    .additional_options_main .option_class_second:after {
        background-color: #dbddde;
        bottom: -1.7rem;
        content: "";
        height: 0.1rem;
        position: absolute;
        width: 100%;
    }

    .author-box-pic-img {
        height: 50px;
        width: 50px;
    }

    .search-object-body-box-content-objects .objects-box .object-body{
        margin-left: 0;
    }

    .search-object-body-box-content-objects .objects-box .object-body .object-body-footer{
        margin-top: 20px;
    }

    .mobile-filter-tabs  .single_button_select_box_label,
    .mobile-filter-tabs  .single_button_select_box_label {
        width: auto;
    }
}

@media only screen and (max-width: 475px){
    .img-wrapper{
        width: 165px !important;
        height: 115px !important;
    }
    
    .header_title__desc {
        margin: 1.4rem 0;
        min-height: 3.2rem;
        padding: 10px;
    }
    .file-input{
        height: 50px;
    }
}