/* .header-navbar.navbar-shadow {
    box-shadow: 0 4px 0px 0 rgb(0 0 0 / 5%) !important;
}

.horizontal-menu .header-navbar.navbar-horizontal.floating-nav {
    width: 100% !important;
    margin: 0 !important;
} */